// Make page header alignment consistent with widget page header alignment
// .universal-wrapper h1 {
//   text-align: center;
// }

// // Center the CTA shortcode button
// .cta-group {
//   justify-content: center;
// }
.parallax {
  background-attachment: scroll;
}

.home-section {
  background: #f2f1f3;
  position: relative;
  padding: 30px 0 30px 0;
  z-index: 0;
  // background-image: linear-gradient(90deg, #dbd9d9, #ebe8e8);
}

.card {
  background: none;
  border-radius: 0ch;
  text-align: justify;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  color: #030;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  color: #99cc33;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

p {
  text-align: justify;
  line-height: 1.5;
  font-weight: normal;
  margin-top: 0.4rem !important;
  margin-bottom: 0.4rem !important;
}

.portrait-title h2 {
  font-size: 1.5em;
  font-weight: bolder;
  color: #000;
  margin: 20px 0 10px 0;
}

a,
h3.article-title a:hover {
  color: #071013;
  text-decoration: none;
  transition: color 0.6s ease;
  font-weight: bold;
}

.btn {
  background: #030;
  border: 2px solid black;
  color: #ffffff;
}
.btn:hover {
  background: #ffffff;
  color: #010000;
}

a,
h4.article-title a:hover {
  color: #071013;
  text-decoration: none;
  transition: color 0.6s ease;
  font-weight: semi-bold;
  line-height: 0px;
}
.article-title {
  font-size: 22px !important;
  line-height: 1.4rem;
  margin-bottom: 0px !important;
}

.article-title a {
  color: #322944;
  transition: color 0.6s ease;
  font-size: 22px !important;
  line-height: 0px;
}

.navbar {
  background: #030;
  backdrop-filter: blur(8px);
}
.nav-link {
  color: #ffff !important;
  font-weight: bold !important;
}
.nav-link:hover {
  color: #060 !important;
}
.navbar-brand {
  color: #ffff !important;
  font-weight: bold !important;
}

.hero-lead {
  max-width: 100%;
  text-align: justify;
  font-weight: 1;
}
.banner {
  background-color: #075cb0;
  text-align: center;
  padding: 20px;
}

.hero-lead {
  max-width: 100%;
  text-align: justify;
  font-weight: 1;
}

.dont_animate,
.animate_me {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.animate_me {
  max-width: 100%;
  padding-right: 3px;
  --total: calc(var(--duration) + var(--delay));
  color: transparent;
  position: relative;
  animation: revealText calc(var(--duration) + var(--delay)) forwards;
  overflow: hidden;
}

.animate_me::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background: #fefefe;
  overflow: hidden;
  animation: rollIn var(--duration) var(--delay) forwards,
    rollOut var(--duration) var(--total) forwards;
}

@keyframes revealText {
  0% {
    color: transparent;
  }
  90% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

@keyframes rollIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes rollOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(105%);
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    z-index: 1031 !important;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background: #030;
    text-align: center !important;
    backdrop-filter: blur(8px);
  }
}

.fa-bars:before {
  color: #ffff !important;
}
// Footer Styling
.centered-link-container {
  text-align: center; /* Centers the link and image horizontally */
  margin-top: 20px; /* Adds spacing above the container */
}

.centered-link-container a {
  display: inline-block; /* Prevents the link from stretching */
  text-decoration: none; /* Removes any underline from the link */
}

// .card-simple {
//   background: #fff;
//   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
//   border: 1px solid rgba(0, 0, 0, 0.09);
//   border-radius: 3px;
//   margin-top: 5px;
//   padding: 5px 10px;
// }

// .col-md-4 {
//   position: relative;
//   width: 100%;
//   padding-right: 20px;
//   padding-left: 10px;
// }

//

// 62A8BD
// E1BD3E
// 377EA6

// Philipp Lorenz-Spreen  to  Everyone 3:26 PM
// 43375A
// 705B98
// A586E2
